.body{
    display: flex;
    /* flex-direction: column; */
    flex-basis: 120px;
    background-color: rgb(241, 242, 245);
    padding: 0 12%;
    top: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.ArrowWords{
    display: flex;
}
.words{
    padding-left: 20px;
}
.Back-Arrow{
padding-top: 18px ;
transform: scale(3);
left: 105px;
top: 6;
position: absolute;
}
.fill{
    color: gray;
    padding-bottom: 20px;
    line-height: 0ch;
    
}
.New{
    line-height: 2ch;
}