.BoxOne{
    height:200px;
    width: 80vw;
    padding: 20px 40px 0  60px;
    background-color: white;
    border-radius: 5px;
}
.text{
    font-size: large;
}
.service{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.Air{
    color: silver;
    padding: 5px;
    background-color: rgb(7, 70, 166);
    width: 15vw;
    height: 87px;
     border-radius: 3px;
}
.ServiceOption{
    color: gray;
    width: 15vw;
    height: 87px;
    border: 1px solid gray;
    padding: 5px;
     border-radius: 3px;
}

.Airplane{
    width: 50px;
    margin-top: -640px;
    position: absolute;
}