.BoxOne{
    height:200px;
    width: 70vw;
    justify-content: center;
    margin-left: 5%;
    flex-shrink: 1;
    padding: 20px 40px 0  60px;
    background-color: white;
    border-radius: 5px;
}
.text{
    font-size: large;
}
.service{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.Air{
    color: silver;
    padding: 5px;
    background-color: rgb(7, 70, 166);
    width: 15vw;
    height: 87px;
     border-radius: 3px;
}
.AirplaneIcon{
    width: 250px;
    height: 50px;
    margin-left: 150px;
    margin-top: -10px;
    color: white;
    right: 0;
    bottom: 0;
    /* position: relative; */
}
.ShipIcon{
    width: 250px;
    height: 50px;
    right: 0;
    bottom: 0;
     margin-left: 150px;
     margin-top: -10px;
    /* position: relative; */
}
.ServiceOption{
    color: gray;
    width: 15vw;
    height: 87px;
    border: 1px solid gray;
    padding: 5px;
     border-radius: 3px;
}

.Airplane{
    width: 50px;
    margin-top: -640px;
    position: absolute;
}