.BoxOne{
    padding: 2rem ;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}
.text-service{
    font-size: x-large;
    padding-top: 10px;
}
.service{
     display: flex;
     gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Air{
    color: silver;
    padding: 5px;
    background-color: rgb(7, 70, 166);
    font-size: larger;
    width: 200px;
     border-radius: 3px;
     position: relative;
     overflow: hidden;
}
.AirplaneIcon{
    color: white;
    right: 5px;
    bottom: 5px;
    position: absolute;
    transform: scale(3.5);
}
.ShipIcon{
    right: 7px;
    bottom: 0;
    transform: scale(4.5);
    position: absolute;
}
.TruckIcon{
      right: 20px;
      bottom: 15px;
      transform: scale(4.0);
      position: absolute;
}
.PoliceIcon{
    right: 0;
    bottom: 17px;
    transform: scale(3.5);
    position: absolute;
    }

.ServiceOption{
    color: gray;
    width: 200px;
    font-size: larger;
    position: relative;
    border: 1px solid gray;
    padding: 5px 15px;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 5%;
}

.Airplane{
    width: 50px;
    margin-top: -640px;
    position: absolute;
}