.BoxTwo {
   padding: 2rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}
.options1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.circleIcon{
    margin-bottom: 7px;
}
.ImportExport{
    background-color: white;
    color: silver;
     width:max-content;
     font-size: larger;
     padding: 15px 25px;
     border: 1px solid gray;
}
.From{
    padding: 12px;
    font-size: larger;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
}

.options2{
    margin-top: 30px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.From-2 {
    padding: 12px;
    font-size: larger;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
}
.From-3{
    width: 280px;
    font-size: larger;
    padding: 12px;
    color: silver;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
      }

.GeoDiv{
    display:inline-flex;
}
.GeoIcon{
     padding: 19px;
     background-color: rgb(243, 243, 243);
    margin-top: 0px;
}