.Nav{
    height: 7vh;
    color: white;
    padding: 10px;
    background-color:rgb(7, 70, 166);
    display: flex;
    justify-content:space-between;
    flex-shrink: 2;
}
.LogoSearch{
    display: flex;
    color: white;
    padding-left: 70px;
}
.freight{
    font-size: 15px;
}
.Logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 13px;
}
.span{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.search{
    margin-top: 13px;
    padding: 10px;
    height: 20px;
    width: 30vw;
    margin-left: 30px;
    font-size: larger;
    background-color: rgb(57, 107, 184);
    border: 1px solid rgb(57, 107, 184);
}
 ::placeholder{
    color: silver;
    padding: 10px;
}
.icon{
    position: relative;
    color: white;
    margin-top: 22px;
    margin-left: -29px;
}
.request{
    color: white;
    padding: 10px;
    margin-top: 13px;
    background-color: rgb(32, 89, 175);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
}
.book{
    margin-left: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(92, 198, 133);
    border: 1px solid rgb(92, 198, 133);
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
}

@media only screen and (max-width: 600px) {
    .Nav{
        padding: 5px;
        display: inline-flex;
        
    }
    .Logo{
        margin-left: -72px;
        font-size: small;
        display: inline-flex;
        margin-top: 18px;
    }
    .send{
        font-size: 18px;
    }
    .freight{
        font-size: 13px;
        margin-top: 5px;
    }
    .search{
        padding: 5px;
        margin-left: 5px;
        font-size: small;
    }
    .request{
        font-size: small;
        padding: 2px;
        margin-left: 20px;
        margin-top: 12px;
        height: 35px;
        
    }
    .book{
           font-size: small;
           padding: 2px;
           height: 35px;
           margin-top: 12px;
           margin-left: 2px;
           border: 2px solid rgb(92, 198, 133);
    }
}