.BoxThree {
   padding: 2rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    flex-shrink: 1;
    position: relative;
}
.cargoTop{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.text {
    font-size: large;
}
.VolumeWeight{
    display: flex;
}
.TDtext{
    margin-top: -10px;
    position: absolute;
    padding-left: 20px;
}
.Volume{
    border: 1px solid gray;
    width: 12vw;
    height: 50px;
}
.Weight{
     border: 1px solid gray;
     width: 12vw;
     height: 50px;
    margin-left: 20px;
}
.Details{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.switch{
    margin-top: 20px;
}

.TextSwitch p {
    margin-left: 10px;
    font-size: larger;
}
.TotalD{
    height: 50px;
    font-size: large;
    font-weight: 600;
    color: rgb(7, 70, 166);
    background-color: white;
    border: 1px solid gray;
    border-radius: 9px;
    margin-bottom: 15px;
    font-size: larger;
}
.PackageD{
    height: 50px;
      font-size: large;
      font-weight: 500;
      font-size: larger;
      color: gray;
      background-color: rgb(241, 242, 245);
      border: none;
      border-radius: 5px;
      padding-left: 10px;
     margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
    .Total{
        display: flex;
    }
    .text{

    }
    .checkbox{
        width: 120px;
    }
    .cargoTop{
        display: flex;
    }
    .TextSwitch p{
        font-size: 13px;
    }
    .TotalD{
        text-align: start;
    }
    .PackageD{
        text-align: start;
    }
    .Bigcbm{
        display: flex;
    }
    .cbm{
        margin-right: 15px;
        height:40px;
        width: 40px;
        border: 1px solid gray;
        right: 30px;
        bottom: 20px;
        position: absolute;
        background-color: green;
    }
    .cbmHolder{
        width: 90px;
        height: 40px;
    }
    .Details2{
        display: flex;
        gap: ;
    }
}
