.BoxThree {
   padding: 2rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    flex-shrink: 1;
    position: relative;
}
.cargoTop{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.text {
    font-size: large;
}
.VolumeWeight{
    display: flex;
}
.TDtext{
    margin-top: -10px;
    position: absolute;
    padding-left: 20px;
}
.Volume{
    border: 1px solid gray;
    width: 12vw;
    height: 50px;
}
.Weight{
     border: 1px solid gray;
     width: 12vw;
     height: 50px;
    margin-left: 20px;
}
.Details{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.switch{
    margin-top: 20px;
}

.TextSwitch p {
    margin-left: 10px;
    font-size: larger;
}
.Total{
    margin-bottom: 20px;
}
.TotalD{
    height: 50px;
    font-size: large;
    font-weight: 600;
    color: rgb(7, 70, 166);
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    font-size: 18px;
}
.PackageD{
    height: 50px;
      font-size: large;
      font-weight: 500;
      font-size: larger;
      color: gray;
      background-color: rgb(241, 242, 245);
      border: none;
      border-radius: 0 15px 15px 0;
      padding-left: 10px;
     margin-bottom: 15px;
}
 .Bigcbm {
     display: flex;
     gap: 80px;
 }

 .cbm {
     margin-right: 10px;
     height: 40px;
     width: 40px;
     border: none;
     right: 30px;
     bottom: 20px;
     position: absolute;
     background-color: green;
 }

 .cbmHolder {
     width: 150px;
     /* height: 40px; */
     text-align: right;
     border: 1px solid gray;
     background-color: white;
 }

 .Details2 {
     display: flex;
     /* justify-content: space-between; */
     height: 40px;
     width: 120px;
     /* border: 1px solid red; */
     z-index: 3;
 }

 .Details2 p {
     font-size: small;
     font-weight: 700;
     position: absolute;
     margin-left: 7px;
     margin-top: 33px;
     top: 155px;
     z-index: 3;
     background-color: white;

 }
@media only screen and (max-width: 600px) {
    .BoxThree{
         margin-left: -10px;
    }
    .Total{
        display: flex;
    }
    .text{

    }
    .checkbox{
        width: 120px;
    }
    .cargoTop{
        display: flex;
    }
    .TextSwitch p{
        font-size: 13px;
    }
    .TotalD{
        text-align: start;
        font-size: small;
    }
    .PackageD{
        text-align: start;
        font-size: small;
    }
    .Bigcbm{
        display: flex;
        gap: 30px;
    }
    .cbm{
        margin-right: 15px;
        height:40px;
        width: 40px;
        border: none;
        right: 30px;
        bottom: 20px;
        position: absolute;
        background-color: green;
    }
    .cbmHolder{
        width: 100px;
        height: 40px;
    }
    .Details2{
        display: flex;
    }
    .Details2 p{
      font-size: small;
      font-weight: 700;
      position: absolute;
      top: 183px;
      margin-left: 5px;
      z-index: 3;
      background-color: white;
    }
}
