.BoxThree {
   padding: 2rem;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    flex-shrink: 1;
}
.cargoTop{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.text {
    font-size: large;
}
.VolumeWeight{
    display: flex;
}
.TDtext{
    margin-top: -10px;
    position: absolute;
    padding-left: 20px;
}
.Volume{
    border: 1px solid gray;
    width: 12vw;
    height: 50px;
}
.Weight{
     border: 1px solid gray;
     width: 12vw;
     height: 50px;
    margin-left: 20px;
}
.Details{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.switch{
    margin-top: 20px;
}

.TextSwitch p {
    margin-left: 10px;
    font-size: larger;
}
.TotalD{
    height: 50px;
    font-size: large;
    font-weight: 600;
    color: rgb(7, 70, 166);
    background-color: white;
    border: 1px solid gray;
    border-radius: 9px;
    margin-bottom: 15px;
    font-size: larger;
}
.PackageD{
    height: 50px;
      font-size: large;
      font-weight: 500;
      font-size: larger;
      color: gray;
      background-color: rgb(241, 242, 245);
      border: none;
      border-radius: 5px;
      padding-left: 10px;
     margin-bottom: 15px;
}
